.expense-item{
    display: flex;
    justify-content: space-between;
 
    align-items: center;
    box-shadow: 0px 2px 8px green ;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    border-color:black ;
    background-color: antiquewhite;


}